//variables
ul
    margin: 0px !important
.montserrat
  font-family: 'Montserrat' !important
.dekMov
  height: auto !important
  color: white !important

.mov
  display: none !important

.mainBanner
  background: url('../images/placeholder.png') !important
  background-position: center !important
  background-size: cover !important
  background-attachment: fixed !important
  height: 555px
.advent
  font-family: 'advent' !important
nav
  background: none !important
  box-shadow: none !important
.pagination ul:not(.browser-default)>li{
    color: black !important
}
.radical-red
  color: #f62459 !important
.s25
  font-size: 25px !important
.s30
    font-size: 30px !important
.s18
  font-size: 18px !important
.s13
    font-size: 13px !important
.s15
  font-size: 15px !important
.w100
  width: 100% !important
.s13
  font-size: 13px !important
a
  color: inherit !important
  text-decoration: none !important
.dn
  display: none
#map
  height: 450px
#header
  width: 100%
  z-index: 1000
  transition: .5s ease all
  position: fixed

.cta-join
  background: url('../images/bg-cta.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 53%
  padding: 16px
  color: #e7e7c7
  border-radius: 10px
  font-size: 30px !important
  transform: translateY(-90px)
  z-index:100
  .link
    margin: 0px 3%
  .icon

    img
      width: 60% !important
  a
    color: #e7e7c7 !important
    text-decoration: none !important
    font-weight: bold
    letter-spacing: 5px

.cta-2
  background: url('../images/bg-cta2.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 53%
  padding: 16px
  color: #e7e7c7
  border-radius: 10px
  font-size: 30px !important
  transform: translateY(-90px)
  z-index:100
  .link
    margin: 0px 3%
  .icon

    img
      width: 60% !important
  a
    color: #e7e7c7 !important
    text-decoration: none !important
    font-weight: bold
    letter-spacing: 5px

.row-banner
  padding-bottom: 35px !important
.card-img
  width: 250px
  height: 250px
.modal-open .modal
  background: none
  box-shadow: none
  overflow: hidden
.thumbs-galeria
  width: 100%
  position: relative
  background: whitesmoke
  margin-top: 10px
  overflow: hidden
  .item-gal
    display: flex
    justify-content: center
    align-items: center
    margin: 10px
.btn.custom-btn
  width: 100%
.thumb-logo, .thumb-fachada
  max-width: 250px
  max-height: 250px
  width: auto
  height: auto
  position: relative
  background: whitesmoke
  margin-top: 10px
  align-items: center
  overflow: hidden
  display: none
  border: 1px solid black
  padding: 5px
  .remove-btn , .remove-btn2
    position: absolute
    padding: 5px
    color: white
    cursor: pointer
    top: 15px
    right: 5px
    width: 30px
    height: 30px
    background: #D32F2F
    border-radius: 50px
  img
    width: 100%
.remove-galeria
  font-size: 13px !important
nav .brand-logo
  left: 3%
  width: 10%
  img
    width: 100%
#mainApp
  background: white

.float-custom
  right: 15px
  top: 11px
.card-action
  a
    font-size: 20px !important
.fb-color
  background: #3b5998 !important
.instagram-color
  background: #e95950 !important
.wa-color
  background: #25D366 !important
.mess-color
  background: #0078FF !important
.twitter-color
  background: #00acee !important
.card-action
  background-color: whitesmoke !important
.card.custom-card
  border-radius: 0px !important
  box-shadow: none !important
  width: 75% !important
#wrapperPanel
  background: white
  border: 1px solid rgba(0,0,0,.125)
#wrapperPanel
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  min-height: 100vh
.sidebar
  padding: 25px
.panel-content
  width: 100%
  padding: 25px
  .content
    border: 1px solid rgba(0,0,0,.125)
    padding: 40px
.active-red
  color: #dc3545 !important
  font-weight: bold !important
.list-group-item
  a
    transition: .3s ease all
.list-group-item:hover
  a
    color: #dc3545 !important
    font-weight: bold
.cuenta-red:hover
  color: #dc3545 !important
.sidenav
  background: #e7e7c7 !important
.card-title
  font-size: 16px !important
  font-weight: bold !important
.card .card-content p
  font-size: 13px !important
.icon-social
  width: 25%
.fb-color
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
.mess-color
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
.header-section
  position: relative
  top: -100px
  z-index: -1

.icon-heart {
  background: url('../images/hearth.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.icon-heart--clicked {
  -webkit-animation: animateLove 1s steps(14, start);
  background-position: right;
}

@-webkit-keyframes animateLove {
   0% { background-position: 0px 0px; }
   100% { background-position: -2800px 0px; }
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

#loginForm
  background: #e7e7c7 !important

.contenido {
  width: 500px;
  height: auto;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.titulo {
  font-size: 40px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}
.subtitulo {
  font-size: 20px;
  opacity: 0.3;
  margin: 0;
}
.contenido2 {
  margin-top: 30px;
  height: auto;
  padding: 5px;
  overglow: hidden;
}
.facebook-button {
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  background-image: -webkit-linear-gradient(#3b5998, #314b83);
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #283e6b;
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.3s;
}
.facebook-button:hover {
  background-image: -webkit-linear-gradient(#4466ac, #34518e);
}
.facebook-button:active {
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3), 0px 1px rgba(255, 255, 255, 0.2);
}
.img-gal
  width: 100%
  height: 180px
  overflow: hidden
  background: whitesmoke
  cursor: pointer
.card-title
  font-size: 13px !important
  line-height: 1 !important
.form-search
  background: rgba(236, 240, 241, 1) !important
  font-size: !important
  border-radius: 0px
  padding: 0px 25px !important
.label-custom
  color: #343a40 !important
.no-radius
  border-radius: 0px !important
.relative
  position: relative !important
.absolute
  position: absolute !important
.list-menu
    padding: 0px 20px
h2
    font-family: 'Montserrat' !important
.main-header
    top: 111px
    z-index: 1111 !important
    width: 50% !important
    right: 0 !important
.title-header
    width: 85% !important
#donar
    background: url('../images/placeholder.png')
    background-attachment: fixed
    background-size: cover
.owl-empresas .item
    overflow hidden
    height 210px !important
#video
  height: 600px
.left-video
  width: 60%
  position: relative
  float: left
  min-height: 600px
  background: url('../images/bg-video.png')
  background-size: cover
  background-position: center
.right-video
  width: 40%
  position: relative
  float: right
  min-height: 600px
  background: url('../images/video-img.png')
  background-size: cover
  background-position: center
  .play-button
    position: absolute
    width: 30%
    top: 50%
    left: 45%
.volver
  cursor: pointer
#formulario-registro
    padding-top: 155px !important

